[DEFAULT]
slack = https://hooks.slack.com/services/TPVQ27MB5/BQYNTJ478/KAfOYkuyZudu$
discord = https://discord.com/api/webhooks/832074324700823617/Mto7lSG9VQR8XOqcQ05xWpoCfGjCjH_feIZ6QcXpATjvPcIRF2HDJ9MGiJifGAFjE9uF
timeout = 300
pids_threshold = 100
mem_threshold = 70.0
disk_threshold = 50.0
cpu_threshold = 50.0
temperature_threshold = 85.0
