[Unit]
Description=Raspberry Pi Monitoring Manager 
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/fresno/monitoring
ExecStart=/usr/local/fresno/monitoring/monitoring_piman.sh
Restart=always
RestartSec=15
User=root

[Install]
WantedBy=multi-user.target
